.site__main {
    margin: 0;
    padding: 0;
}

.main__section {
    margin: 0;
    padding: 0;
    max-width: 1320px;
    background-image: url(../../images/aboutbanner.png);
    background-repeat: no-repeat;
    border-radius: 8px;
}

.about__content {
    padding: 117px 0 116px 85px;
}

.about--text {
    width: 445px;
    margin: 24px 0 0 0;
}

@media screen and (max-width:1020px) {
    .main__section {
        max-width: 1320px;
        // padding: 104px 0 82px 58px;
        background-image: url(../../images/abouttab.png);
        background-position: center;
        background-size: 100%;
    }

    .about__content {
        padding: 118px 0 118px 58px;
    }
}
@media screen and(max-width:980px){
    .about--title{
        font-size: 32px;
        line-height: 40px;
    }
}
@media screen and(max-width:740px) {
    .main__section {
        width: 100%;
        height: auto;
        background-image: url(../../images/mobabout.jpg);
        background-size: 100%;
    }

    .about__content {
        margin: 0 auto;
        padding: 111px 0 87px 0;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .about--title {
        font-size: 28px;
        line-height: 28px;
    }

    .about--text {
        width: 80%;
        font-size: 15px;
        line-height: 25px;
    }
}