.site__main{
    margin: 0;
    padding: 0;
}
.main__section{
    margin: 0;
    padding:  0;
    width: 1280px;
    background-image: url(../../images/aboutbanner.png);
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 8px;
}
