.site__article {
    margin: 0;
    padding: 0;
    // position: relative;
}

.article__content {
    position: relative;
    margin: 190px 0 0 0;
    padding: 90px 85px 296px 85px;
    max-width: 1320px;
    background-image: url(../../images/product.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
}

.article__left {
    margin: 0;
    padding: 0;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.article__wrap{
    max-width: 445px;
}
.article__img {
    max-width: 573px;
    object-fit: cover;
    height: auto;
    z-index: 2;
    position: absolute;
    top: -85px;
    right: 60px;
    margin: 0 auto;
    border-radius: 8px;
}

.article__top--title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.article__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    color: #FEFCF7;
}

@media screen and(max-width:1240px) {
    .article__left {
        width: 50%;
        // max-width: px;
    }

    .article__content {
        padding-top: 40px;
    }

    .article__desc {
        margin: 0;
    }
}

@media screen and(max-width:1100px) {
    .article__content {
        margin: 200px 0 150px 0;
        max-width: 100%;
        padding: 190px 0 67px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../../images/abitubg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        border-radius: 8px;
    }

    .article__left {
        width: 85%;
        align-items: center;
    }

    .article__top--title {
        text-align: center;
        font-size: 32px;
        line-height: 48px;
    }

    .article__desc {
        text-align: center;
    }

    .article__img {
        top: -165px;
        left: 0;
        right: 0;
        width: 80% !important;
        height:  320px;
    }
}
@media screen and(max-width:710px){
    .article__content{
        background-image: url(../../images/maskabout.png);
    background-size: 100%;
    }
    .article__left{
        width: 80%;
    }
    .article__top--title{
        font-size: 28px;
        line-height: 28px;
    }
    .article__desc{
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and(max-width:400px){
    .article__content{
        padding-bottom: 150px;
        margin-bottom: 0;
    }
    .article__left{
        width: 85%;
    }
}
@media screen and(max-width:380px){
    .article__content{
        margin-top: 0;
        padding-top: 280px;
        padding-bottom: 190px;
    }
    .article__img{
        top: -50px;
    }
}
@media screen and(max-width:340px){
    .article__content{
        margin-top: 0;
        padding-top: 300px;
        padding-bottom: 320px;
    }
    .article__img{
        top: -20px;
    }
}