.commitment {
    margin: 0;
    padding: 0;
}

.comitment__section {
    margin: 0 auto;
    padding: 168px 0;
    width: 1110px;
    @include center;
}
.comitment__right{
    margin: 0;
    padding: 0 1px 0 125px;
}
.commit__title {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}
.commitment__img{
    border-radius: 8px;
}
.comitment__text {
    margin: 32px 0 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
}