.site__headquarts {
    margin: 0;
    padding: 0;
}

.headquarts {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 168px;
    max-width: 1045px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.our__title {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.headquart__list {
    margin: 0;
    padding: 72px 0 0 0;
    width: 1045px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
}

.haedquart__item {
    margin: 0;
    padding: 0;
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.haedquart__item+.haedquart__item {
    margin-left: 95px;
}

.item__caption {
    margin: 45px 0 25px 0;
    padding: 0;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.item__address {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.address__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.haedquart__item:hover {
    animation: rotate__up 0.65s linear both;
    color: #0E8784;
}

@keyframes rotate__up {
    0% {
        transform: scale(1) rotateX(0);
    }

    50% {
        transform: scale(1.1) rotateX(-180deg);
    }

    100% {
        transform: scale(1.2) rotateX(-360deg);
    }
}

@media screen and(max-width:1180px) {
    .headquarts {
        width: 100%;
        flex-wrap: wrap;
    }
    // .headquart__list{
    //     max-width: 1020px;
    // }
    // .haedquart__item{
    //     max-width: 223px;
    // }
}
@media screen and(max-width:1050px) {
    .our__title{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .headquart__list{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .haedquart__item + .haedquart__item{
        margin-left: 0;
    }
    .haedquart__item{
        max-width: 272px;
        align-items: center;
        text-align: center;
    }
    .item__caption{
        font-size: 24px;
        line-height: 36px;
    }
    .item__address{
        font-size: 16px;
        line-height: 26px;
    }
}
@media screen and(max-width:770px) {
    .item__caption{
        font-size: 28px;
        line-height: 36px;
    }
}