.hero {
    margin: 0;
    padding: 0;
    border-radius: 10px;

}

.hero__section {
    margin: 0 0 116px 0;
    padding: 117px 0px 116px 85px;
    max-width: 1320px;
    background-image: url(../../images/Bitmap.png);
    background-repeat: no-repeat;
    background-position: cover;
    // background-size: 100%;
    border-radius: 8px;
}

.hero__content {
    margin: 0;
    padding: 0;
    max-width: 493px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.hero__title {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero__text {
    margin: 32px 50px 56px 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.hero__link {
    @include btn;
    background: #0E8784;
    transition: all 0.4s ease-in-out;
}

.hero__link:hover {
    background: #66D2CF;
}

.hero__link:active {
    background: #E2DEDB;
}

@media screen and (max-width:1020px) {
    .hero__section {
        max-width: 1280px;
        padding: 104px 0 82px 58px;
        background-image: url(../../images/herotab.png);
        background-position: cover;
        background-size: 100%;
    }
}

@media screen and (max-width:910px) {
    .hero__content {
        margin: 0;
        padding: 0;
    }

    .hero__title {
        font-size: 48px;
        line-height: 48px;
    }

    .hero__text {
        margin: 24px 50px 40px 0;
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and(max-width:675px) {
    .hero__section {
        max-width: 100%;
        height: auto;
        background-image: url(../../images/mobilehero.png);
        background-size: 100%;
    }
    .hero__content {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:580px) {
.hero__section{
    padding: 85px 24px;
}
  

    .hero__title {
        text-align: center;
    }

    .hero__text {
        margin: 24px 0 39px 0;
    }
}
@media screen and(max-width:379px) {
    .hero__section{
        max-width: 100%;
        padding: 90px 20px 20px 20px;
        }
    .hero__title{
        font-size: 38px;
        line-height: 38px;
    }
    .hero__text{
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 25px;
    }
}