// .wrapper {
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     min-height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.modal {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    margin: 0 auto;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items:center;
    list-style: none;
    gap: 32px;
    background: linear-gradient(180deg,#FEFCF7 55.94%  0%, rgba(254, 252, 247, 0.504981));
}

.modal__item>a {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    text-decoration: none;
}