html{
    scroll-behavior: smooth;
}
.option__section {
    margin: 0;
    padding: 0 85px;
}

.option__content {
    margin: 0;
    padding: 0px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content__left--list {
    margin: 0 125px 0 0;
    padding: 0;
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
}

.left__list--item {
    width: 255px;
    border-bottom: 1px solid #83888f;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left__list--item .item__btn {
    padding: 35px 0 30px 0;
    width: 255px;
    text-align: left;
    cursor: pointer;
}

.item__btn {
    // width: 255px;
    background-color: transparent;
    border: none;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    opacity: 0.5;
}

span {
    margin-left: 0;
    margin-right: 28px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #0E8784;
}

.inner__content--right {
    margin: 0;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.drop__img {
    // position: relative;
    transform: rotateX(180deg);
}

// ///////////////////////////////
.dropdown {
    margin: 0;
    padding: 0;
    width: 790px;
    position: relative;
    display: inline-block;
}
.drop__list {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 3px;
    width: 790px;
    display: none;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.drop__item {
    padding: 32px 28px 84px 28px;
    width: 250px;
    background: #F4F1EB;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.drop__list .drop__item:hover {
    background: #FDD6BA;
}

.drop__list .drop__item:active {
    background: #0E8784;
    color: #fff;
}

.drop__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.drop__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.bottom__plan {
    position: relative;
    margin: 0 0 150px 0;
    padding: 51px 64px;
    width: 730px;
    background-image: url(../../images/block.png);
    background-repeat: no-repeat;
    background-position: cover;
}

h4 {
    margin: 0 0 8px 0;
    padding: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
}

blockquote {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}
.bottom__link{
    position: absolute;
    top: 266px;
    left: 513px;
    padding: 0;text-decoration: none;
    @include btn;
    background-color: #0E8784;
    transition: all 0.4s ease-in-out;
}
.bottom__link:hover{
    background-color: #66d2cf;
}
.bottom__link:active{
    background-color: #e2dedb;
}