.plan__section {
    margin: 0 0 155px 0;
    padding: 134px 0 0px 86px;
    padding-bottom: 168px;
    max-width: 1320px;
    background-image: url(../../images/Bitmap2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}