.plan__section {
    margin: 0;
    padding: 0;
    padding-bottom: 168px;
    width: 1280px;
    background-image: url(../../images/Bitmap2.png);
    background-repeat: no-repeat;
    background-position: cover;
}