.site__works {
    margin: 0;
    padding: 0;
}

.work__section {
    margin: 0 auto;
    padding: 0px 85px;
    padding-bottom: 200px;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.work__title {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.work__imgbox {
    padding: 80px 0 67px 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../images/path.svg);
    background-repeat: no-repeat;
    background-position: 28px 93px;
}

.work__list {
    padding: 0 0 64px 0;
    margin: 0;
    @include center;
    align-items: flex-start;
    max-width: 1045px;
    list-style-type: none;
}

.number {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    transition: all 1s ease-in-out;
}

.work__item {
    margin: 0;
    padding: 0 0 0 10px;
    max-width: 223px;
    // height: 368px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.work__item+.work__item {
    margin-left: 170px;
}

.work__item--title {
    margin: 42px 0 38px 0;
    padding: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.work__item--text {
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.work__link {
    @include btn;
    background: #0E8784;
    transition: all 0.5s;
}

.work__link:hover {
    background: #66D2CF;
}

.work__link:active {
    background: #E2DEDB;
}


.work__item:hover {
    animation: rotate__up 0.65s linear both;
    color: #0E8784;
    cursor: pointer;
}

@keyframes rotate__up {
    0% {
        transform: scale(1) rotateX(0);
    }

    50% {
        transform: scale(1.1) rotateX(-180deg);
    }

    100% {
        transform: scale(1.2) rotateX(-360deg);
    }
}

@media screen and(max-width:1110px) {
    .work__section{
        padding-top: 380px;
    }
    .work__item{
        width: 33.3%;
    }
    .work__imgbox{
        width: 80%;
    }
}
@media screen and(max-width:1045px) {
    .work__list{
        flex-wrap: wrap;
        justify-content: center;
        gap: 90px;

    }
    .work__imgbox{
        display: none;
    }
    .work__item + .work__item{
        margin-left: 0;
    }
}
@media screen and(max-width:940px) {
    .work__section{
        padding-top: 200px;
    }
    .work__title{
        margin: 0 auto;
        text-align: center;
    }
    .work__imgbox{
        display: none;
    }
    .work__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .work__item{
        margin: 0;
        padding: 50px 0 0 0;
        margin-top: 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .work__item + .work__item{
        margin-left: 0;
        padding-top: 0;
    }
    .work__item--title{
        text-align: center;
    }
    .work__item--text{
        text-align: center;
        font-size: 15px;
        line-height: 25px;
    }
    .work__link{
        margin: 0 auto;
    }
}

@media screen and(max-width:480px) {
    .work__section{
        padding: 200px 0;
    }
}